<%= form_with(model: [commentable, comment]) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit "コメントする" %>
  </div>
<% end %>
